html, body{
  margin: 0;
  padding: 0;
}

*{box-sizing: border-box}


body{
  font-family: monospace;
  color: white;
  background-color: #323a3e;
}

main.game{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 2rem;
  .container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
    max-width: 900px;

    &.title{
      flex-direction: row;
      //justify-content: flex-start;
      font-size: 1.5rem;
      h1{
        margin: 2rem 0;
        font-family: monospace;
      }
    }

    &.meta{
      font-size: 1rem;
      flex-direction: row;
      justify-content: space-between;
      padding: .5rem;

    }
  }

  canvas, .splash{
    position: absolute;
    cursor: none;
  }

  .splash{
    z-index: 10;
    color: #eb5050;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 1rem 4rem;

    text-align: center;

    .highscore{
      font-size: 2rem;
      margin-bottom: 1rem;
      color: white;
      display: none;

      &.js-active{
        display: block;
      }
    }

    &.js-active{
      display: none;
    }
  }

  .splash{
    color: #eb5050;
  }

}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

a, a:visited{
  color: inherit;
}